# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

.serverless

.env

dist/**

*.log
*.tgz

create_secret_prod.sh
create_secret_testing.sh
create_secret_staging.sh