@import "./tailwind.css";
@import "./placement.css";

html,
body {
  min-height: 100vh;
  background-color: #f8f8f8;
  overflow-y: hidden;
}

/* Older browsers */
html {
  font-size: 16px;
}

#root {
  height: 100%;
}
