apiVersion: v1
kind: Secret
metadata:
  name: kpz-backend-secret
data:
  API_KEY: <API_KEY_VALUE_BASE64_ENCODED>
  AUTH_KEY: <AUTH_KEY_VALUE_BASE64_ENCODED>
  MONGO_DB_CONNECTION: <MONGO_DB_CONNECTION_VALUE_BASE64_ENCODED>